<%- include("head.ejs") %>
<body>
    <h1>Register your email and password</h1>
    <form method="post" action="/add/user">
        <input type="email" name="email" placeholder="correo">
        <input type="password" name="password" placeholder="contraseña">
        <input type="submit" value="Registrarse">
    </form>
</body>
</html>